<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-messages" id="messages"></div>
      <form id="messageForm" class="message-form">
        <input
          type="text"
          id="messageInput"
          placeholder="Type your message..."
        />
        <button type="submit">Send</button>
      </form>
    </div>
    <script src="/js/chat.js"></script>
  </body>
</html>
