<!DOCTYPE html>
<html>
  <head>
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-container">
      <header>
        <h1>Welcome to Chat</h1>
        <button id="logoutBtn">Logout</button>
      </header>
      <div class="chat-list-container">
        <button id="createChatBtn">Create New Chat</button>
        <div id="chatList"></div>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
